@import "@root/scss/variables.scss";

.section {
  background-image: url("@root/assets/images/auth-background.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
