@use 'sass:color';

.h1 {
  @include fontSettings(3.2rem);
}

.h2 {
  @include fontSettings(2.4rem);
}

.p1 {
  @include fontSettings(1.8rem);
}

.p2 {
  @include fontSettings();
}

.p3 {
  @include fontSettings(1.4rem, 1.6rem);
}

.link {
  display: inline-flex;
  color: inherit;
  transition: color .3s ease;

  &:hover {
    color: color.scale($colorPrimary, $lightness: 20%);
  }
  &:active {
    color: $colorPrimary
  }
}

.primary-color {
  color: $colorPrimary;
}

.secondary-color {
  color: $colorSecondary;
}

.success-color {
  color: $colorSuccess;
}

.fault-color {
  color: $colotFault;
}

.content-dark-color {
  color: $colorContentDark;
}

.content-color {
  color: $colorContent;
}
