@use 'sass:color';

.link {
  display: inline-flex;
  color: inherit;
  transition: color .3s ease;

  &:hover {
    color: color.scale($colorPrimary, $lightness: 20%);
  }
  &:active {
    color: $colorPrimary
  }
}
