@use 'sass:color';

.link {
  display: inline-flex;
  color: inherit;
  transition: color .3s ease;

  &:hover {
    color: color.scale($colorPrimary, $lightness: 20%);
  }
  &:active {
    color: $colorPrimary
  }
}

.primary-color {
  color: $colorPrimary;
}

.secondary-color {
  color: $colorSecondary;
}

.success-color {
  color: $colorSuccess;
}

.fault-color {
  color: $colotFault;
}

.content-dark-color {
  color: $colorContentDark;
}

.content-color {
  color: $colorContent;
}

.back1-color {
  background-color: $colorBack1;
}

.back2-color {
  background-color: $colorBack2;
}
