*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", system-ui;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
