*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./styles/font.scss";

body {
  font-family: "Roboto", system-ui;
  margin: 0 auto;
  min-width: $minWidthPage;
  max-width: $maxWidthPage;
  color: $colorContent;
  background-color: $colorBack1;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
