$colorPrimary: #1E3A8A;

$colorSecondary: #60A5FA;

$colorContent: #6B7280;
$colorContentLight: #EEEEEE;
$colorContentDark: #121212;

$colorSuccess: #10B981;
$colotFault: #EF4444;

$colorBack1: #F3F4F6;
$colorBack2: #E5E7EB;

$wrapperPadding: 40px;

$minWidthPage: 320px;
$maxWidthPage: 1440px;

$outline: 2px solid #000000;
