@import "../../scss/mixins.scss";

.popup {
  @include popup();
  position: relative;
  width: min(400px, 100%);

  .close-btn {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 2rem;
  }
}
